<%= image_tag user.gravatar_url, size: 30 %>
<p><%= link_to user.username, user_path(user.id) %></p>

<%= form_for current_user.active_relationships.find_by(followed_id: user.id), method: :delete do |f| %>
  <%= f.submit "Unfollow", class: "btn btn-danger pull-right" %>
<% end %>
