<div class="user-container row">
  <h3>People you follow</h3>
  <% current_user.active_relationships.pluck(:followed_id).each do |id| %>
    <div class="user-listing col-sm-1">
      <%= image_tag User.find(id).gravatar_url, size: 40 %>
      <%= link_to User.find(id).username, User.find(id) %>
    </div>
  <% end %>
</div>

<div class="row user-container">
  <h3>All Users</h3>
  <% User.all.each do |user| %>
  <div class="user-listing col-sm-1">
    <%= image_tag user.gravatar_url, size: 40 %>
    <%= link_to user.username, user %>
  </div>
<% end %>

</div>
