<h1> Welcome, <%= current_user.username %> </h1>
<%= image_tag current_user.gravatar_url %>
<% puts current_user.gravatar_url %>
<p> Customize your games library </p>
<p> Change username </p>
<p> Delete Account </p>
