<div class="jumbotron main">
  <h1> Welcome to disPlay. </h1>
  <h3> Show off your game collection for the world to see </h3>
  <% if current_user %>
    <%= link_to "Start Building Your Collection", companies_path %>
  <% end %>
</div>

<div class="selling-points">
  <div class="point col-md-4">
    <h3> Nothing can match the feeling of pride that comes with
      showing off your personal library of games.
    </h3>
  </br>
  <%= image_tag "library.jpg" %>

  </div>
  <div class="point col-md-4">
    <h3>
      The convenience of digital downloads cannot be denied. But you don't
      want to give up the spirit of collection.
    </h3>
  </div>
  <div class="point col-md-4">
    <h3>
      Enter disPlay. Share your personal library like never before. Follow your
      friends to keep up with the hottest games. Discover your new favorite franchise with disPlay.
    </h3>
  </div>
</div>

<footer>
  <%= link_to "Contact", welcome_contact_path %>
</footer>
