
<h1 class="main-content"> Select a Company </h1>

<% @companies.each do |company| %>
  <div class="col-md-4 company-logo">
    <%= link_to (image_tag logo_hash[company.name], class: 'logo'), company %>
  </div>

<% end %>
