<% @company.systems.each do |system|%>
  <div class="row">
    <%= link_to (image_tag system_logo_hash[system.name], class: 'system-logo'), system %>
    <%= link_to system.name, system %>
  </div>
<% end %>
