<%= link_to "Add to Library", system_system_purchases_path(@system), method: :post, class: 'btn btn-success' %>
<%= image_tag @system.img_url %>
<p><%= @system.description %></p>
<% @system.games.each do |game|%>
  <div class="col-md-1">
    <%= link_to game.title, system_game_path(@system, game)%>
  </div>
<% end %>
