// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company-name{
  text-align: center;
  height: 33%;
}

.company-name:hover{
  cursor: pointer;
}

.main-content{
  text-align: center;
  width: 20%;
  margin: 2rem auto;
  text-decoration: underline;
}

.row{
  text-align: center;
  margin: 5rem auto;
  height: 9em;
}

.system-logo{
  height: 90%;
  width: auto;
  display: block;
  margin: 0 auto;
}

.company-logo{
  height: 16em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.logo{
  width: 100%;
  height: 100%;
}
