// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-display{
  margin: 10px auto;
  width: 90%;
  text-align: left;
}

.ownership-notice{
  height: 4rem;
  border: 1px solid blue;
  border-radius: 5px;
  background: rgba(130, 130, 250, 0.8);
  vertical-align: middle;

}

.ownership-notice p{
  padding: 1rem 5px;
  color: white;
}
