// Place all the styles related to the Libraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box-art{
  height: 650px;
  text-align: center;
}

.game-thumbnail{
  width: 100%;
  height: 100%;
}

.library-control{
  height: 7em;
  text-align: center;
}

.edit_library{
  width: 50%;
  margin: 1em auto;
}
