// Place all the styles related to the system controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-art{
  height: 350px;
  text-align: center;
}

.game-thumbnail{
  width: auto;
  height: 100%;
}

.system-info{
  height: 300px;
  margin: 10px 30px;
  position: relative;

}
.system-image{
  height: 100%;
  width: auto;
}

.system-details{
  position: absolute;
  right: 0px;
  top: 20%;
  text-align: right;
  height: 50%;
  width: 55%;
}
