// Place all the styles related to the system controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-art{
  height: 350px;
  text-align: center;
}

.game-thumbnail{
  width: auto;
  height: 100%;
}

.system-info{
  height: 300px;
  margin: 10px 30px;
  position: relative;

}
.system-image{
  height: 100%;
  width: auto;
}

.system-details{
  position: absolute;
  right: 0px;
  top: 20%;
  text-align: right;
  height: 50%;
  width: 55%;
}

.ownership-notice{
  height: 4rem;
  border: 1px solid blue;
  border-radius: 5px;
  background: rgba(130, 130, 250, 0.8);
  vertical-align: middle;

}

.ownership-notice p{
  padding: 1rem 5px;
  color: white;
}
