// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.kill-account{
  color: red;
}

.options{
  background: white;
}

.options p:hover{
  cursor: pointer;
}
li{
  list-style: none;
}
