// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.kill-account{
  color: red;
}

.options{
  background: white;
}

.options p:hover{
  cursor: pointer;
}
li{
  list-style: none;
}

.popular-user{
  min-height: 4rem;
}

.popular-user p{
  max-width: 40%;
  float: left;
  padding-top: 0.8rem;
}

.popular-user img{
  float: left;
  margin-right: 0.5em;
}

.search{
  text-align: center;
  margin: 1em auto;
  width: 30%;
  height: 6rem;
}

.clear-search{
  margin-bottom: 1em;
}

.my-followings{
  border: 1px solid darkblue;
  margin: 1rem 1rem;
  background-color: rgba(200,200,222,0.6);
}
.my-followings h3{
  text-decoration: underline;
}

.following{
  min-height: 5rem;
  text-align: left;
}

.following p{
  max-width: 40%;
  float: left;
  margin: 0;
  padding-top: 0.8rem;
}

.following img{
  float: left;
  margin-right: 0.5em;
}

.suggested{
  text-align: left;
}

.events{
  border: 1px solid darkblue;
  margin: 1rem 1rem;
  background-color: rgba(200,200,222,0.6);
  text-align: left;
}

.event-summary{
  border-bottom: 1px solid black;
  border-width: 90%;
}

.socialize{
  border: 1px solid darkblue;
  margin: 1rem 1rem;
  background-color: rgba(200,200,222,0.6);
}

.user-container{
  border: 1px solid darkblue;
  background-color: rgba(200,200,222,0.6);
  margin: 3rem auto;
}

.user-listing{

}

.user-listing p{
  width: 100%;
}

.prof-info{
  position: relative;
  right: 10em;
}

.prof-info h4{
  text-align: center;
  text-decoration: underline;
}

.prof-pic{
  float: left;
  position: relative;
  right: 10em;
}
