// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navigation{
  margin: 15px auto;
  width: 90%;
  border-bottom: 1px solid gray;
  text-align: right;
}

.main{
  text-align: center;
  background: blue url('/assets/jumbotron.png');
  background-size: 100% 100%;
  height: 40%;
}

.selling-points{
  height: 620px;
}

.point{
  text-align: center;
  height: 100%;
}

.selling-point{
  width: 65%;
  height: 70%;
}
footer{
  position: absolute;
  bottom: 0px;
}
